@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Shadows+Into+Light&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: #333;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	position: relative;
}

body.game {
	justify-content: flex-start;
}

.header {
	margin: 30px;
}
.container {
	display: none;
	gap: 20vw;
	width: 100%;
	justify-content: center;
	position: relative;
	flex: 1;
}

h1 {
	text-align: center;
	font-family: 'Pacifico';
	color: white;
	font-size: 6em;
	text-shadow: 2px 2px 1px pink;
}

h1.top {
	font-size: 3em;
}

h3,
h2 {
	font-family: 'Shadows Into Light', sans-serif;
	font-size: 3em;
	text-shadow: 2px 2px 1px pink;
	color: aqua;
}

h2 {
	display: none;
}

#intro {
	position: absolute;
	top: 55%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4em;
}

.header p {
	text-align: right;
	font-family: 'Pacifico';
	color: white;
	font-size: 3em;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin: 10px;
}

.player-choices {
	position: absolute;
	inset: 0 auto 0 4em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3em;
}

.choices {
	font-size: 2em;
}

.choice {
	font-size: 12em;
}

.choices:hover {
	transform: scale(1.2);
	transition: all 0.2s ease-in;
}

.play {
	margin-top: 10vh;
	font-family: 'Shadows Into Light', sans-serif;
	text-shadow: 2px 2px 1px pink;
	color: aqua;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 50px;
	font-size: 4em;
	width: 150px;
	height: 150px;
}

.player-choice,
.computer,
#computer,
#player {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3em;
}

button.hide {
	transform: scale(2);
	transition: all 0.3s ease-in;
	opacity: 0.1;
}

#result {
	display: none;
	gap: 2em;
	margin-bottom: 4em;
}

.result {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
}

.win {
	background-color: rgba(0, 128, 0, 0.3);
}

.lose {
	background-color: rgba(255, 0, 0, 0.3);
}

.draw {
	background-color: rgba(0, 0, 0, 0.3);
}

.game-result {
	position: absolute;
	inset: 0;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(51, 51, 51, 0.9);
	z-index: 1;
	text-align: center;
	font-family: 'Pacifico';
}
